@font-face {
  font-family: Switzer_Complete;
  src:url(../fonts/Switzer-Black.woff) format("woff"),
      url(../fonts/Switzer-Black.woff2) format("woff2");
  font-weight:200;
  font-style:normal;
}
