*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompagnonLight";
	background: black;
    color: white;
    display: block;
    text-align: left;
	font-size: 14px;
    height: 100vh;
	overflow: auto;
    text-shadow: 100px 20px 50px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10%;
}

.container{

}

.item01{
   grid-column: 2;
   grid-row: 2;
}